@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

// color variables
$gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));

$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

//

// -------------------- global styles -------------------------
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("./images/bg-desktop.png") no-repeat 100% 100% /100% 50%;
  background-color: $very-dark-blue;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

.container {
  max-width: 80%;
  margin: 0 auto;

  .left {
    background: $dark-blue;
    padding: 3rem 9rem 3rem 3rem;
    border-radius: 10px;
    border-top-right-radius: 100px;
    margin-right: 2rem;

    .logo {
      img {
        width: 9rem;
      }
      margin-bottom: 1.8rem;
    }

    .icons {
      ul {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 0;

        li:not(:first-child) {
          margin-left: 1rem;
        }

        li {
          padding: 0.8rem;
          background: $very-dark-blue;
          border-radius: 10px;
          width: 3.3rem;
          height: 3.3rem;
        }
      }
    }
  }

  .right {
    background: $dark-blue;
    padding: 2rem 3rem;
    color: $pale-blue;
    width: 540px;
    border-radius: 10px;
    margin-top: 3.4rem;
    position: relative;

    .bar-container {
      background: $very-dark-blue;
      height: 1.3rem;
      border-radius: 30px;
      justify-content: flex-start;

      .bar {
        background: $gradient;
        border-radius: 30px;
        width: 75%;
        padding: 1px 1px;
        justify-content: flex-end;
        margin-left: 3px;

        .ball {
          width: 0.8rem;
          height: 0.8rem;
          background: white;
          border-radius: 50%;
          margin-right: 1px;
        }
      }
    }
    .sizes {
      justify-content: space-between;
      p {
        font-size: 0.8rem;
        font-weight: 700;
      }
    }

    .pop-up {
      background-color: white;
      padding: 1rem 1.5rem;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: 1px;
      color: $grayish-blue;
      position: absolute;
      top: -32%;
      right: 9%;
      z-index: 999;

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 55px solid transparent;
        border-right: 54px solid white;
        position: absolute;
        top: 1.7rem;
        right: 0;
        z-index: -1;
      }

      .big {
        color: $very-dark-blue;
        font-size: 2.7rem;
        font-weight: 700;
        margin-right: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  body {
    background: url("./images/bg-mobile.png") no-repeat 100% 100% /100% 100%;
  }
  .flex {
    flex-direction: column;
  }

  .container {
    .left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 0rem;
      width: 100%;
      padding: 2.5rem 9rem 2.5rem 2.5rem;

      .logo {
        margin-bottom: 0.8rem;
      }

      .icons {
        display: flex;
        justify-content: flex-start;

        ul {
          flex-direction: row;
        }
      }
    }

    .right {
      width: 100%;
      margin-top: 1rem;
      padding: 1rem 1.7rem 2.5rem 1.7rem;
      text-align: center;

      .bar-container {
        border-radius: 30px;
        align-items: flex-start;
        justify-content: center;

        .bar {
          width: 75%;
          padding: 1px 1px;
          align-items: flex-end;

          .ball {
            margin-right: 1px;
          }
        }
      }
      .sizes {
        flex-direction: row;
      }

      .pop-up {
        flex-direction: row;
        padding: 0.8rem 1.5rem;
        top: 83%;
        right: 26%;
        font-size: 0.8rem;

        &::after {
          display: none;
        }

        .big {
          font-size: 2.5rem;
          margin-right: 0.7rem;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    .right {
      width: 100%;
      margin-top: 1rem;
      font-size: 0.9rem;

      .pop-up {
        top: 78%;
        right: 21%;
      }
    }
  }
}
