@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("./images/bg-desktop.png") no-repeat bottom;
  background-color: #0c122c;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  width: 100%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.container .left {
  background: #1d2c67;
  padding: 3rem 9rem 3rem 3rem;
  border-radius: 10px;
  border-top-right-radius: 100px;
  margin-right: 2rem;
}

.container .left .logo {
  margin-bottom: 1.8rem;
}

.container .left .logo img {
  width: 9rem;
}

.container .left .icons ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.container .left .icons ul li:not(:first-child) {
  margin-left: 1rem;
}

.container .left .icons ul li {
  padding: 0.8rem;
  background: #0c122c;
  border-radius: 10px;
  width: 3.3rem;
  height: 3.3rem;
}

.container .right {
  background: #1d2c67;
  padding: 2rem 3rem;
  color: #dddbff;
  width: 540px;
  border-radius: 10px;
  margin-top: 3.4rem;
}

.container .right .bar-container {
  background: #0c122c;
  height: 1.3rem;
  border-radius: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .right .bar-container .bar {
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 30px;
  width: 75%;
  padding: 1px 1px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 3px;
}

.container .right .bar-container .bar .ball {
  width: 0.8rem;
  height: 0.8rem;
  background: white;
  border-radius: 50%;
  margin-right: 1px;
}

.container .right .sizes {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .right .sizes p {
  font-size: 0.8rem;
  font-weight: 700;
}

.container .right .pop-up {
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #848794;
  position: absolute;
  top: 37%;
  right: 21%;
  z-index: 999;
}

.container .right .pop-up::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 55px solid transparent;
  border-right: 54px solid white;
  position: absolute;
  top: 1.7rem;
  right: 0;
  z-index: -1;
}

.container .right .pop-up .big {
  color: #0c122c;
  font-size: 2.7rem;
  font-weight: 700;
  margin-right: 0.7rem;
}
/*# sourceMappingURL=styles.css.map */